#appupdate {
  position: absolute;
  top: 5px;
  z-index: 1000;
  width: 100%;
  .alert {
    font-size: 14px;
    text-align: center;
    width: 50%;
    margin: 0 0 0 25%;
    p {
      margin: 0;
      .material-icons {
        margin-right: 5px;
      }
    }
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }
}
