html {
  height: 100%;
  width: 100%;
}

body {
  @include gradient();
  &.login, &.password-change, &.password-change-confirm, &.register, &.activation, &.account, &.admin {
    @include gradient(30%);
    .container {
      margin-top: $card-spacer-y;
      @include media-breakpoint-up(lg) {
        margin-top: 50px;
      }
    }
  }
}

abbr.environment {
  font-size: 10px;
  border-radius: 5px;
  padding: 2.5px 5px;
  margin-left: 5px;
  margin-top: 5px;
  &.environment-production {
    display: none
  }
  &.environment-development {
    background-color: #BABABA;
    color: darken(#BABABA, 50);
  }
}

body > footer {
  text-align: center;
  color: rgba($text-on-brand-primary, 0.85);
  a {
    color: lighten($text-on-brand-primary, 15%);
    &:hover {
      color: lighten($text-on-brand-primary, 15%);
    }
  }
  padding: 1rem;
  img.rhlogo {
    max-width: 300px;
    width: 100%;
    opacity: 0.85;
  }
  @include media-breakpoint-up(lg) {
    z-index: -100;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 0;
  }
}

.avatar {
  background-color: #fff;
}

.card {
  .card-header {
    .avatar {
      float: right;
      border-radius: 100%;
      border: 1px solid #bbb;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
      height: 60px;
      margin-top: -0.5rem;
    }
  }
}

.avatar-preview {
  img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    border: 2px solid #BBB;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
  }
  text-align: center;
  font-size: 120%;
}
