// List pagination
*[role=navigation] {
  @include clearfix();
  span, .btn-group {
    float: right;
  }
  span {
    margin-right: 0.5rem;
    line-height: 2rem;
  }
  .loading {
    float: left;
    line-height: 2rem;
  }
}
