$icon-spacer: 5px;
$material-icon-size: 24px;
$brand-primary: #3399ff;
$text-on-brand-primary: white;
$brand-secondary: #0565C0;
$brand-success: #99FF33;
$brand-info: #14CC8F;
$brand-warning: #CC8F14;
$text-on-brand-warning: lighten($brand-warning, 50);
$brand-danger: #dc0000;
$body-color: #707070;
