<div class="container">
  <article class="row">
    <div class="col-12 col-lg-6">
      <section data-ng-if="vm.p.$success">
        <form name="userEditForm" class="card">
          <div class="card-header">
            <h1 class="card-title">
              <i class="material-icons" data-ng-if="!vm.user.avatar">person</i>
              <img class="avatar" data-ng-src="%%vm.user.avatar.uri%%" alt="%%vm.user.name%%" data-ng-if="vm.user.avatar">
              %%vm.user.firstname%% %%vm.user.lastname%%
            </h1>
          </div>
          <div class="card-body">
            <fieldset class="form-group">
              <label for="firstname">firstname</label>
              <input class="form-control"
                     type="text"
                     id="firstname"
                     required
                     bootstrap-error-states
                     data-ng-model="vm.userCopy.firstname"
                     name="firstname"
                     data-ng-blur="vm.updateUserProperty('firstname')"
              />
            </fieldset>
            <fieldset class="form-group">
              <label for="lastname">lastname</label>
              <input class="form-control"
                     type="text"
                     id="lastname"
                     required
                     bootstrap-error-states
                     data-ng-model="vm.userCopy.lastname"
                     name="lastname"
                     data-ng-blur="vm.updateUserProperty('lastname')"
              />
            </fieldset>
          </div>
          <div class="card-footer" data-ng-if="vm.e.$error || vm.e.$success">
            <div class="error-info" data-ng-show="vm.e.$error">
              <div class="alert alert-danger" role="alert">
                <i class="material-icons">error</i>
                %%vm.e.$problem.title%%<br>
                <small>%%vm.e.$problem.detail%%</small>
              </div>
            </div>
            <div class="success-info" data-ng-show="vm.e.$success">
              <div class="alert alert-success" role="alert">
                <i class="material-icons">check_ok</i> Changes saved …
              </div>
            </div>
          </div>
        </form>
      </section>

      <section data-ng-if="vm.p.$success">
        <form name="form" class="card">
          <div class="card-header">
            <h1 class="card-title">
              <i class="material-icons" data-ng-hide="vm.cp.$success">settings_backup_restore</i>
              <i class="material-icons success" data-ng-show="vm.cp.$success">check_circle</i>
              Change password
            </h1>
          </div>
          <div class="card-body" data-ng-show="vm.cp.$success">
            <div class="alert alert-success" role="alert">
              <p>Your password has been updated!</p>
              <p>You can now log in with your email address and your new password.</p>
            </div>
          </div>
          <div class="card-body" data-ng-hide="vm.cp.$success">
            <p class="card-text">
              To change your current password, please enter a new password below.
            </p>
            <fieldset class="form-group">
              <label for="password">
                new password<br/>
                <small>must be at least 8 characters long</small>
              </label>
              <input tabindex="2"
                     class="form-control"
                     type="password"
                     id="password"
                     required
                     bootstrap-error-states
                     data-ng-model="vm.newPassword"
                     data-ng-minlength="8"
                     data-ng-disabled="vm.cp.$active || vm.initializing"
                     name="password"
              />
            </fieldset>
            <fieldset class="form-group">
              <label for="password2">
                confirm new password
              </label>
              <input tabindex="2"
                     class="form-control"
                     type="password"
                     id="password2"
                     required
                     bootstrap-error-states
                     data-ng-model="vm.newPassword2"
                     data-ng-minlength="8"
                     data-ng-disabled="vm.cp.$active || vm.initializing"
                     name="password2"
                     match="vm.newPassword"
              />
            </fieldset>
          </div>
          <div class="card-footer" data-ng-hide="vm.cp.$success">
            <div class="controls">
              <button type="submit"
                      class="btn"
                      data-ng-disabled="form.$invalid || vm.cp.$active || vm.initializing"
                      data-ng-click="vm.changePassword(data);">
                <i class="material-icons" data-ng-show="(form.$invalid || vm.initializing) && !vm.p.$active">block</i>
                <i class="material-icons" data-ng-show="!(form.$invalid || vm.cp.$active || vm.initializing) && vm.cp.$pristine">send</i>
                <i class="material-icons spin" data-ng-show="vm.p.$active">hourglass_empty</i>
                <i class="material-icons" data-ng-show="!(form.$invalid || vm.cp.$active || vm.initializing) && vm.cp.$success">check_ok</i>
                <i class="material-icons" data-ng-show="!(form.$invalid || vm.cp.$active || vm.initializing) && vm.cp.$error">error</i>
                <span>Continue</span>
              </button>
            </div>
            <div class="error-info" data-ng-show="vm.cp.$error">
              <div class="alert alert-danger" role="alert">
                <i class="material-icons">error</i>
                %%vm.cp.$problem.title%%<br>
                <small>%%vm.cp.$problem.detail%%</small>
              </div>
            </div>
          </div>
        </form>
      </section>
    </div>

    <section class="col-12 col-lg-6" data-ng-if="vm.p.$success">
      <form name="updateEmailForm" class="card">
        <div class="card-header">
          <h2 class="card-title">
            Change email address
          </h2>
        </div>
        <div class="card-body">
          <div class="alert alert-success" role="alert" data-ng-if="vm.c.$success">
            <i class="material-icons">check_ok</i> Ok, now check the inbox of <code>%%vm.newEmail%%</code> for the confirmation email.
          </div>
          <p>
            Your current email address is:<br>
            <code>%%::vm.user.email%%</code>.
          </p>
          <p>
            In order to change your email, please enter a new email address below.<br>
            We will send you a confirmation link to the new address.<br>
            After you have clicked this link, your new email address will be activated.
          </p>
          <fieldset class="form-group">
            <label for="email">email</label>
            <input class="form-control"
                   type="email"
                   id="email"
                   required
                   bootstrap-error-states
                   data-ng-model="vm.newEmail"
                   name="email"
            />
          </fieldset>
        </div>
        <div class="card-footer">
          <app-button
            button-class="btn-secondary pull-right"
            label="continue"
            icon="send"
            click="vm.changeUserEmail"
            progress="vm.c"
            form="updateEmailForm"
            class="pull-right"></app-button>
          <div class="error-info" data-ng-if="vm.c.$error">
            <div class="alert alert-danger" role="alert">
              <i class="material-icons">error</i>
              %%vm.c.$problem.title%%<br>
              <small>%%vm.c.$problem.detail%%</small>
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="col-12 col-md-6 offset-md-3" data-ng-if="vm.p.$progress">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">
            <i class="material-icons spin">hourglass_empty</i>
            Please stand by …
          </h1>
        </div>
        <div class="card-body">
          <p>Loading user …</p>
          <progress class="progress progress-striped" value="50" max="100">50%</progress>
        </div>
      </div>
    </section>

    <section class="col-12 col-md-6 offset-md-3" data-ng-if="vm.p.$error">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">
            <i class="material-icons">error</i>
            %%vm.p.$problem.title%%
          </h1>
        </div>
        <div class="card-body">
          <p>%%vm.p.$problem.detail%%</p>
        </div>
      </div>
    </section>
  </article>
</div>
