<div class="container">
  <article class="row">
    <section class="col-12 col-md-6 offset-md-3">
      <div class="card" data-ng-if="vm.p.$progress">
        <div class="card-header">
          <h1 class="card-title">
            <i class="material-icons spin">hourglass_empty</i>
            Please stand by …
          </h1>
        </div>
      </div>
      <div class="card" data-ng-if="vm.p.$success">
        <div class="card-header">
          <h1 class="card-title">
            <i class="material-icons success">check</i>
            Email confirmed
          </h1>
        </div>
        <div class="card-body">
          <p>
            Your new email address is now active.
          </p>
        </div>
      </div>
      <div class="card" data-ng-if="vm.p.$error">
        <div class="card-header">
          <h1 class="card-title">
            <i class="material-icons">error</i>
            %%vm.p.$problem.title%%
          </h1>
        </div>
        <div class="card-body">
          <p>%%vm.p.$problem.detail%%</p>
        </div>
      </div>
    </section>
  </article>
</div>
